/* French letters */

ZMK_UNICODE_PAIR(AGr,		N0, N0,    E, N0,		N0, N0,    C, N0)	// à/À
ZMK_UNICODE_PAIR(AE,		N0, N0,    E, N6,		N0, N0,    C, N6)	// æ/Æ
ZMK_UNICODE_PAIR(OE,		N0, N1, N5, N3,		N0, N1, N5, N2)	// œ/Œ
ZMK_UNICODE_PAIR(CCed,		N0, N0,    E, N7,		N0, N0,    C, N7)	// ç/Ç
ZMK_UNICODE_PAIR(EAig,		N0, N0,    E, N9,		N0, N0,    C, N9)	// é/É
ZMK_UNICODE_PAIR(EGr,		N0, N0,    E, N8,		N0, N0,    C, N8)	// è/È
ZMK_UNICODE_PAIR(ECir,		N0, N0,    E, B,		N0, N0,    C, B)	// è/È
ZMK_UNICODE_PAIR(ETre,		N0, N0,    E, A,		N0, N0,    C, A)	// è/È
ZMK_UNICODE_PAIR(UGr,		N0, N0,    F, N9,		N0, N0,    D, N9)	// ù/Ù
ZMK_UNICODE_PAIR(SqCb,		N0, N0,    B, N2,		N0, N0,    B, N3) // ²/³
ZMK_UNICODE_PAIR(ExcBkS,	N0, N0, N2, N1,		N0, N0, N5,    C) // !/

ZMK_UNICODE_SINGLE(Micro,	FR_0, FR_0,    B, FR_5) 							// µ
ZMK_UNICODE_SINGLE(Inf,		FR_0, FR_0, FR_3,    C) 							// <
ZMK_UNICODE_SINGLE(Sup,		FR_0, FR_0, FR_3,    E) 							// >
ZMK_UNICODE_SINGLE(InfEg,	FR_2, FR_2, FR_6, FR_4)								// ≤
ZMK_UNICODE_SINGLE(InfEg,	FR_2, FR_2, FR_6, FR_4)								// ≤
ZMK_UNICODE_SINGLE(Slash,	FR_0, FR_0, FR_2,    F) 							// /
ZMK_UNICODE_SINGLE(BkSla,	FR_0, FR_0, FR_5,    C) 							//
ZMK_UNICODE_SINGLE(Pipe,	FR_0, FR_0, FR_7,    C) 							// |
ZMK_UNICODE_SINGLE(Excl,	FR_0, FR_0, FR_2, FR_1) 							// !
ZMK_UNICODE_SINGLE(At,		FR_0, FR_0, FR_4, FR_0) 							// @
ZMK_UNICODE_SINGLE(InvQue,	FR_0, FR_0,    B,    F) 							// ¿
ZMK_UNICODE_SINGLE(InvExl,	FR_0, FR_0, FR_A, FR_1) 							// ¡
ZMK_UNICODE_SINGLE(Dollar,	FR_0, FR_0, FR_2, FR_4) 							// $
ZMK_UNICODE_SINGLE(Perct,	FR_0, FR_0, FR_2, FR_5) 							// %
ZMK_UNICODE_SINGLE(Regist,	FR_0, FR_0, FR_A,    E) 							// ®
ZMK_UNICODE_SINGLE(ArrowR,	FR_2, FR_1, FR_9, FR_2) 							// →
ZMK_UNICODE_SINGLE(BakQut,	FR_0, FR_0, FR_6, FR_0) 							// `
ZMK_UNICODE_SINGLE(Tilde,	FR_0, FR_0, FR_7,    E) 							// ~
ZMK_UNICODE_PAIR(LfPLfB,	FR_0, FR_0, FR_2, FR_8,		FR_0, FR_0, FR_5,    B)	//
ZMK_UNICODE_PAIR(RgPRgB,	FR_0, FR_0, FR_2, FR_9,		FR_0, FR_0, FR_5,    D) //
ZMK_UNICODE_SINGLE(Deg,		FR_0, FR_0, FR_B, FR_0) 							// °
